@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&family=Roboto:ital,wght@1,500&display=swap');

@import "./parciales/reset";
@import "./parciales/variables";
@import "./parciales/header";
@import "./parciales/carousel";
@import "./parciales/ofertas";
@import "./parciales/redes";
@import "./parciales/footer";
@import "./parciales/wppflot";